src/Debug/*
src/Release/*
src/Coverage/*
src/Flamegraph/*
src/tpm_server_*
libtomcrypt/*
libtommath/*
src/DebugFile.txt
src/NVChip
src/trace.txt
src/*.gcno
src/*.gcda

src/tpm_server.exe
tpmvstudio/tpm_server/DebugFile.txt
tpmvstudio/tpm_server/NVChip
tpmvstudio/tpm_server/.vs
tpmvstudio/tpm_server/x64

