src/libtommath/
src/libtomcrypt/
src/Debug/
src/Release/
src/Coverage/
src/Flamegraph/
src/tpm_server_*
src/DebugFile.txt
src/NVChip
src/trace.txt
src/*.gcno
src/*.gcda
src/perf.data
src/tpm_server.exe
tpmvstudio/tpm_server/DebugFile.txt
tpmvstudio/tpm_server/NVChip
tpmvstudio/tpm_server/.vs
tpmvstudio/tpm_server/x64

